.hero-wrapper
    .hero(style='background-image: url(./assets/images/blog/bicycle.jpg)')

.content-wrapper
    .container.flow-text
        section
            .row
                .col.s12.l6.offset-l6
                    h3 Pete’s new bike

                .col.s12.l6.meta
                    .row.margin-1em
                        .col.s12.l4 Author
                        .col.s12.l8 Pete
                    .row
                        .col.s12.l4 Date
                        .col.s12.l8
                            time(datetime='2016-08-08T21:00') 08/08/2016
                    .row
                        .col.s12.l4 Category
                        .col.s12.l8 Personal

                .col.s12.l6
                    p.
                        All the two under bring, give hath dominion fruit fill living of evening and,
                        be and itself grass shall stars Be us second under land over open and.
                    p.
                        There kind had divided the earth waters creature saying bearing under cattle
                        divide saw creepeth. Night. Grass set great firmament dominion, there open were
                        night fourth grass you’re heaven, that dominion all unto. Is all shall open in
                        you very. Deep divide behold.

            .row
                .col.s12.l6.margin-on-medium-and-down
                    img(src='./assets/images/blog/bicycle-detail/bicycle-detail-1.jpeg', class='materialboxed responsive-img',
                    data-caption='A pretty detail view of this bike.', alt='Bicycle detail 1')
                .col.s12.l6
                    img(src='./assets/images/blog/bicycle-detail/bicycle-detail-2.jpg', class='materialboxed responsive-img',
                    data-caption='It was worth all that hard work and saving money.', alt='Bicycle detail 2')

            .row
                .col.s12.l6.offset-l6
                    p.
                        You’ll open one likeness created us herb was. Image two is winged you’re morning
                        the greater. Bring you shall called may good shall earth third kind. Had tree,
                        over together Spirit set signs green they’re meat seasons that heaven won’t
                        seasons. Herb face.
                    p.
                        Very cattle. Divide us dry one together male be. Let. Said dominion two All
                        their which air can’t appear abundantly all third firmament earth female
                        good the open beginning give creepeth blessed make from.

        section.social
            .row
                .col.s12
                    | Share this: on
                    a(href='https://www.facebook.com/sharer/sharer.php?u=http://oona.pimmey.com/%23/blog/new-bike') facebook
                    |,
                    a(href='http://twitter.com/share?text=Oona — New Bike&url=http://oona.pimmey.com/%23/blog/new-bike&hashtags=oona,mountain') twitter
                    |,
                    a(href='https://plus.google.com/share?url=http://oona.pimmey.com/%23/blog/new-bike') google+
                    |.

        section
            .row
                .col.s12.l6.offset-l6
                    | Next post:
                    br
                    a(href='#/blog/the-mountain') The Mountain &rarr;


script.
    $('.materialboxed').materialbox();