.container
    .row
        .col.s12.l6.offset-l6
            p.flow-text.intro-text.
                Get a little closer to the way we think and the way we work. You can also find a bunch of
                motivational and inspirational information in here.

    section.posts
        .row
            .col.s12.l6.margin-on-medium-and-down
                article
                    a.no-underline(href='#/blog/new-bike')
                        img.responsive-img(src='./assets/images/blog/bicycle.jpg', alt='New Bike')
                    .meta
                        time(datetime='2016-08-08T21:00') 08/08/2016
                        span &nbsp;by Pete
                    a.flow-text(href='#/blog/new-bike') Pete’s new bike
            .col.s12.l6
                article
                    a.no-underline(href='#/blog/the-mountain')
                        img.responsive-img(src='./assets/images/blog/mountain.jpg', alt='The Mountain')
                    .meta
                        time(datetime='2016-08-01T21:00') 01/08/2016
                        span &nbsp;by Annie
                    a.flow-text(href='#/blog/the-mountain') The Mountain

        .row
            .col.s12.l6.margin-on-medium-and-down
                article
                    a.no-underline(href='#/blog/looking-for-a-new-office')
                        img.responsive-img(src='./assets/images/blog/ny.jpg', alt='Looking For A New Office')
                    .meta
                        time(datetime='2016-07-15T21:00') 15/07/2016
                        span &nbsp;by Greg
                    a.flow-text(href='#/blog/looking-for-a-new-office') Looking for a new office
            .col.s12.l6
                article
                    a.no-underline(href='#/blog/monster-beats')
                        img.responsive-img(src='./assets/images/blog/speaker-twitter.jpg', alt='Monster Beats')
                    .meta
                        time(datetime='2016-07-10T21:00') 10/07/2016
                        span &nbsp;by Pete
                    a.flow-text(href='#/blog/monster-beats') Monster beats