.container
    .row
        .col.s12.l6.offset-l6
            p.flow-text.intro-text
                | Meet the super team behind the amazing results this company achieved in the last decade.
                | Think you got what it takes to be a part of this?
                a(href='mailto:hr@oona.com?subject=Job%20Application') Apply now
                |.

    section.team
        .row
            .col.s12.m6.l3.margin-on-medium-and-down
                img.responsive-img(src='./assets/images/team/annie.jpg', alt='Annie')
                .name Annie Redhat
                .title CEO
                ul.social
                    li: a(href='#!') Twitter
                    li: a(href='#!') Facebook
            .col.s12.m6.l3.margin-on-medium-and-down
                img.responsive-img(src='./assets/images/team/carina.jpg', alt='Carina')
                .name Carina Cornwell
                .title UX/UI Engineer
                ul.social
                    li: a(href='#!') Dribbble
                    li: a(href='#!') Twitter
            .col.s12.m6.l3.margin-on-medium-and-down
                img.responsive-img(src='./assets/images/team/greg.jpg', alt='Greg')
                .name Greg Willson
                .title CTO
                ul.social
                    li: a(href='#!') Github
                    li: a(href='#!') Codepen
            .col.s12.m6.l3
                img.responsive-img(src='./assets/images/team/russell.jpg', alt='Russell')
                .name Russell Branch
                .title R&D
                ul.social
                    li: a(href='#!') Github
                    li: a(href='#!') Facebook

        .row
            .col.s12.m6.l3.margin-on-medium-and-down
                img.responsive-img(src='./assets/images/team/pete.jpg', alt='Pete')
                .name Pete Chamberlain
                .title Developer
                ul.social
                    li: a(href='#!') Github
            .col.s12.m6.l3.margin-on-medium-and-down
                img.responsive-img(src='./assets/images/team/olga.jpg', alt='Olga')
                .name Olga Rockwell
                .title Designer
                ul.social
                    li: a(href='#!') Dribble
                    li: a(href='#!') Twitter
            .col.s12.m6.l3.margin-on-medium-and-down
                img.responsive-img(src='./assets/images/team/jane.jpg', alt='Jane')
                .name Jane White
                .title Marketing VP
                ul.social
                    li: a(href='#!') LinkedIn
            .col.s12.m6.l3
                img.responsive-img(src='./assets/images/team/roo.jpg', alt='Roo')
                .name Roo
                .title QA

    section.philosophy
        .row
            .col.s12
                h2 Oona philosophy
        .row.philosophy.big-icons-row
            .col.s12
                ul.tabs
                    li.tab.col.s4.m3.l2
                        a(href='#philosophy-1')
                            h5 Discover
                            span.philosophy-number 1
                    li.tab.col.s4.m3.l2
                        a(href='#philosophy-2')
                            h5 Analyse
                            span.philosophy-number 2
                    li.tab.col.s4.m3.l2
                        a(href='#philosophy-3')
                            h5 Improve
                            span.philosophy-number 3
                    li.tab.col.s4.m3.l2
                        a(href='#philosophy-4')
                            h5 Measure
                            span.philosophy-number 4
                    li.tab.col.s4.m3.l2
                        a(href='#philosophy-5')
                            h5 Control
                            span.philosophy-number 5

            .tab-contents
                #philosophy-1.col.s12
                    h5 Discover
                    p.flow-text.
                        Two for make behold form creature image She'd, waters forth, itself Blessed morning so sea
                        midst, in tree make i bring sixth moved darkness bearing. Meat itself light created spirit
                        under sea man.
                #philosophy-2.col.s12
                    h5 Analyse
                    p.flow-text.
                        Our evening male fowl fill. Heaven made. Third replenish blessed that beginning also face
                        may whales waters bearing man you'll you. Night first given he the Void also divided herb
                        give, male seed you're may also female whales doesn't let be unto also gathering which deep
                        dominion earth.
                #philosophy-3.col.s12
                    h5 Improve
                    p.flow-text.
                        Our, day had were morning beast greater a they're creepeth there Spirit, sea. His seasons
                        very there earth under you're set be male. Them years called i yielding From image greater.
                        Replenish deep wherein heaven over behold.
                #philosophy-4.col.s12
                    h5 Measure
                    p.flow-text.
                        Said behold. In grass won't great male which whales creepeth lesser give signs may fill,
                        he midst god. Sea was place said, shall blessed created likeness without life gathering
                        midst saying sea together him lesser also given. Days i subdue image sixth don't.
                #philosophy-5.col.s12
                    h5 Control
                    p.flow-text.
                        Isn't be one great blessed days moved meat lesser may seas bearing doesn't won't doesn't it
                        grass beginning Male he us he likeness. Had, beginning first bring can't. Can't won't
                        blessed man man every you'll heaven.

script.
    $('ul.tabs').tabs();