.container
    .row
        .col.s12.l6.offset-l6
            p.flow-text.intro-text.
                The finest selection of our projects. Over the years, Oona has collaborated with clients like
                Pineapple, Nanosoft, Sketchy and many others.

    section.projects
        .row
            .col.s12.l6.margin-on-medium-and-down
                a.no-underline(href='#/work/the-lamp')
                    img.responsive-img(src='./assets/images/work/lamp.png', alt='The Lamp')
                a.flow-text(href='#/work/the-lamp') The Lamp
            .col.s12.l6
                a.no-underline(href='#/work/the-clocks')
                    img.responsive-img(src='./assets/images/work/clocks.png', alt='The Clocks')
                a.flow-text(href='#/work/the-clocks') The Clocks

        .row
            .col.s12.l6.margin-on-medium-and-down
                a.no-underline(href='#/work/ice-cream')
                    img.responsive-img(src='./assets/images/work/ice-cream.png', alt='Ice Cream')
                a.flow-text(href='#/work/ice-cream') Ice Cream
            .col.s12.l6
                a.no-underline(href='#/work/wooden-series-2')
                    img.responsive-img(src='./assets/images/work/clock.png', alt='Wooden Series 2')
                a.flow-text(href='#/work/wooden-series-2') Wooden Series 2

        .row
            .col.s12.l6.margin-on-medium-and-down
                a.no-underline(href='#/work/wooden-series-1')
                    img.responsive-img(src='./assets/images/work/dude-sign.png', alt='Wooden Series 1')
                a.flow-text(href='#/work/wooden-series-1') Wooden Series 1
            .col.s12.l6
                a.no-underline(href='#/work/ice-cream-concept')
                    img.responsive-img(src='./assets/images/work/white-ice-cream.png', alt='Ice Cream Concept')
                a.flow-text(href='#/work/ice-cream-concept') Ice Cream Concept