footer
    .container
        .row
            .col.s12.l3.margin-on-medium-and-down
                address
                    | B R James, 30 W 47th St
                    br
                    | New York, NY 10036
                a(href='https://www.google.com/maps?daddr=B+R+James+30+W%3D47th+St+NY+10036', target='_blank') Get directions
                    i.icon-arrows-slim-right.new-window
            .col.s12.l3.margin-on-medium-and-down
                a(href='mailto:hello@oona.com') hello@oona.com
                br
                | +1-917-643-4346
            .col.s12.l3.margin-on-medium-and-down
                a(href='#!') Follow @oona
            .col.s12.l3
                | &copy; 2010—2016 Oona