.hero-wrapper
    .hero(style='background-image: url(./assets/images/work/clocks.png)')

.content-wrapper
    .container.flow-text
        section
            .row
                .col.s12.l6.offset-l6
                    h3 The Clocks

                .col.s12.l6.meta
                    .row.margin-1em
                        .col.s12.l4 Client
                        .col.s12.l8 Zwier
                    .row
                        .col.s12.l4 Type
                        .col.s12.l8 Time
                    .row
                        .col.s12.l4 Period
                        .col.s12.l8 2014—now

                .col.s12.l6
                    p.
                        All the two under bring, give hath dominion fruit fill living of evening and,
                        be and itself grass shall stars Be us second under land over open and.
                    p.
                        There kind had divided the earth waters creature saying bearing under cattle
                        divide saw creepeth. Night. Grass set great firmament dominion, there open were
                        night fourth grass you’re heaven, that dominion all unto. Is all shall open in
                        you very. Deep divide behold.
            .row
                .col.s12
                    iframe(width='100%', height='166', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/50713119&color=aa00ff&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false')
            .row
                .col.s12.l4.offset-l1.right-align.hide-on-med-and-down
                    p: small.
                        This is a small annotation for the 3rd paragraph.
                .col.s12.l6.offset-l1
                    p.
                        You’ll open one likeness created us herb was. Image two is winged you’re morning
                        the greater. Bring you shall called may good shall earth third kind. Had tree,
                        over together Spirit set signs green they’re meat seasons that heaven won’t
                        seasons. Herb face.
            .row
                .col.s12.l6.offset-l6
                    p.p-margin-adjust.
                        Very cattle. Divide us dry one together male be. Let. Said dominion two All
                        their which air can’t appear abundantly all third firmament earth female
                        good the open beginning give creepeth blessed make from.

        section.social
            .row
                .col.s12
                    | Share this: on
                    a(href='https://www.facebook.com/sharer/sharer.php?u=http://oona.pimmey.com/%23/work/the-clocks') facebook
                    |,
                    a(href='http://twitter.com/share?text=Oona — The Clocks&url=http://oona.pimmey.com/%23/work/the-clocks&hashtags=oona,clocks') twitter
                    |,
                    a(href='https://plus.google.com/share?url=http://oona.pimmey.com/%23/work/the-clocks') google+
                    |.

        section
            .row
                .col.s12.l6.margin-on-medium-and-down
                    | Previous project:
                    br
                    a(href='#/work/the-lamp') &larr; The Lamp
                .col.s12.l6
                    | Next project:
                    br
                    a(href='#/work/ice-cream') Ice Cream &rarr;